extends ./layout
 
block content
  h1=msg
  form(name="add-estimation", method="post")
    div.input
            p
            span.label Title:
            p
            input(type="text", name="title")
    div.input
            p
            span.label Message:
            p
            textarea(name="description", cols="40", rows="5")
    div.actions
            input(type="submit", value="send")
